/node_modules
/vendor
/.idea
/.vagrant
.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
mix-manifest.json
/storage/*.key
/public/hot
/public/css/app.css
/public/js/app.js
/public/fonts/vendor
/public/storage
